<style type="text/css">
	.dotmath {
		color: firebrick;
		background-color: gold;
		text-align: center;
		font-size: 40px;
	}
	a {
		text-decoration: None;
	}
	input {
		color: white;
		width: 100px;
		height: 50px;
	}

	button{
		color: black;
		background-color: bisque;
		width: 100px;
		height: 50px;
	}
	:root{color-scheme: dark;}
</style>

<title>LineMAth | ماشین حساب من</title>
<header>
	<p class="dotmath"><a href="/">Line Math</a></p>	
</header>
<main>
	<form action="/" method="get" style="text-align: center; font-size: 20px;">
		<h3>معادله خود را وارد کنید</h3>
		<input type="text" name="txt" style="width: 300px; height: 35px;" /> <br /><p></p>
		<input type="submit" value="محاسبه" />

		{% if txt %}
		<h3>{{txt}}</h3>
		{% endif %}

		{% if formula %}
			<details open>
			<summary>فرمول </summary>
			<mark><br>
				{{ formula }}
			</mark>
			</details>	
		{% endif %}
		<h4> <a href="/example" target="blank">مثالها</a> </h4>
	</form>
	<hr>
	<!-- <div style="text-align: center; font-size: 20px;">
		<form action="/post" method="get">
			<input hidden type="text" name="formuladocs" value="{{formula}}">
			<h3>Description</h3>
			<input required minlength="20" type="text" name="description" style="width:300px;height: 30px;">
			<br>
			<input type="submit" value="Add To DataBase">
		</form>
	</div> -->
</main>
<footer style="text-align: center; font-size: 20px;">
	<details>
		<summary>سازنده</summary>
		<mark><br>
			Hi I'm Mobin Iran Doust, Backend Dev. and Geography student. My Github: MobinIranDoust
		</mark>
	</details>	
	
</footer>